<section class="hl__home-heading-child " aria-label="Cover of Candle-lightin' Time">
  <div class="hl__home-heading-child__header">
    <h1 class="hl__home-heading-child__title">
      <div class="hl__home-heading-child__title-logo">
        <img src="assets/custom/images/dash-logo-b&w.svg" alt=""/>
      </div>
      <div>
        <div class="hl__home-heading-child__title--line-1">
          <span class="hl__home-heading-child__title-large">Digital Access to</span>
        </div>
        <div class="hl__home-heading-child__title--line-2">
          <span class="hl__home-heading-child__title-small">Scholarship at Harvard</span>
        </div>
      </div>
    </h1>
  </div>
  <div class="hl__home-heading-child__content">
    <div class="hl__home-heading-child__search-input hl__home-heading-child__content--left">
      <ds-search-form [inPlaceSearch]="false" [searchPlaceholder]="'home.search-form.placeholder' | translate"></ds-search-form>
    </div>
    <div class="hl__home-heading-child__callout">
      <section class="hl__rich-text">
        <h2 class="hl__comp-heading">What is DASH?</h2>
        <p>DASH is Harvard's central, open-access repository for research by Harvard community members. Harvard Library Open Scholarship and Research Data Services operates the DASH repository as an effort to provide the broadest possible access to Harvard's scholarship.</p>
        <p><a href="https://library.harvard.edu/services-tools/dash">More about DASH</a></p>
      </section>
    </div>
    <div class="hl__home-heading-child__photo-credit hl__home-heading-child__photo-credit--light hl__home-heading-child__photo-credit--left">
      <div class="hl__home-heading-child__source-icon">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="234" height="213" viewBox="0 0 234 213">
          <g>
            <g transform="translate(-733 -142)">
              <path fill="#ebebeb" d="M965.51 185c.82 0 1.49.61 1.49 1.37v167.26c0 .76-.67 1.37-1.49 1.37H734.49c-.82 0-1.49-.61-1.49-1.37V186.37c0-.75.67-1.37 1.49-1.37zM945 142v11H754v-11zm12 22v11H744v-11z"></path>
            </g>
          </g>
        </svg>
      </div>
      <a class="hl__home-heading-child__source" href="https://images.hollis.harvard.edu/primo-explore/viewcomponent/L/HVD_VIAolvwork175429">Harvard Computation Laboratory at night, circa 1947. UAV 605 (SC207), olvwork175429</a>
      <a class="hl__home-heading-child__library" href="https://library.harvard.edu/libraries/harvard-university-archives">Harvard University Archives</a>
    </div>
  </div>
</section>
